StringNode #title{
    background-color: darkred;
}
#title-icon
{
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    align-self: center;
}
#title
{
    height: 100px;
}

